*, *::before, *::after {
    box-sizing: border-box;
}

body {
	font-family: Ubuntu, sans-serif;
	margin: 0;
	line-height: 1.6;
	background-color:#e0e0e0;
	color: #333;
}

header {
	background-color: #333;
	color: #e0e0e0;
	padding: 1rem 2rem; 
	display: flex; 
	justify-content: space-between;
	align-items: center; 
	position: fixed;
	width: 100%;
	top: 0;
	z-index:1000;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
	color: #FFD700; 
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex; 
	gap: 1.5rem;
	font-weight: bold;
}

nav ul li a {
	color: #e0e0e0;
	text-decoration: none; 
	padding: 0.25rem 0.5rem;
	display: block;
	transition: color 0.3s ease;	
}

nav ul li a:hover {
	color: #FFD700;
	text-decoration: none;
}

main {
	padding: 0;
	max-width: none;
	margin: 0;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
}

.hero-banner {
	background-image: url('https://i.imgur.com/l71j8GP.jpeg');
	background-size: cover;
	background-position: center;
	color: #ffd700;
	padding: 2rem 2rem;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.hero-banner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.5); 
	z-index: 1;
}

.hero-banner h2 {
	color: #ffd700;
	text-align: center;
	margin-bottom: 1.5rem;
	font-size: 6rem;
	padding-bottom: 0.5rem;
	position: relative;
	z-index: 2; 
}

.posts_recentes {
	max-width: 1000px; 
	margin: auto;
}

.posts_recentes h3 {
	color: #333;
	text-align: center;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	padding-bottom: 0rem;
}

article {
	padding: 2rem; 
	max-width: 800px; 
	margin: 2rem auto; 
	background-color: #cccccc;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h4 {
	color: #333;
	text-align: center;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #FFD700;
}

article p {
	text-indent: 10%;
	text-align: justify; 
	font-size: 1.1rem;
}

footer {
	text-align: center;
	background-color: #333;
	color: #e0e0e0;
	text-align: center;
	padding: 1.5rem 0;
	margin-top: 3rem;
	font-size: 0.9em;
}

footer a {
	color: #FFD700;
	text-decoration: none;
}

@media (max-width: 768px) {
	body {
		padding-top: 8rem; /* O header em mobile está mais alto, então precisa de mais padding */
	}
	
	header {
		flex-direction: column;
		padding: 1rem;
		
	}

	header h1 {
        	margin-bottom: 0rem;
        	font-size: 1.5rem;
		padding-bottom: 1rem;
	}

	nav ul li a {
        	font-size: 1rem;
        	padding: 0.2rem 0.4rem;
        	font-weight: bold;
        	border-radius: 4px;
	}
	
	
	.hero-banner h2 {
		font-size: 2.5rem;
	}

	.hero-banner {
        	padding: 1rem 1rem;
			margin-top: 8rem;
    	}
}
